<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
            <div class="form-group" ngModelGroup="usernameEmail">
              <div class="form-group">
                <label for="username">username <sup class="text-warning">*</sup></label>
                <input 
                  type="text"
                  name="username"
                  #username="ngModel"
                  ngModel
                  id="username"
                  required
                  pattern="[a-zA-Z]+"
                  minlength="5"
                  class="form-control">
                  <br>
                  <span class="text-danger" *ngIf="username.touched && username.hasError('required')">
                    Username Is Mandatory !
                  </span>
                  <ng-container *ngIf="username.dirty">
                    <span class="text-danger" *ngIf="username.hasError('pattern')">Username should not include special charectors and numbers</span>
  
                    <span class="text-danger" *ngIf="username.hasError('minlength')">Minimum length of username should be {{username.errors?.['minlength'].requiredLength}} And the Actual length is {{username.errors?.['minlength'].actualLength}}
  
                    </span>
                  </ng-container>
  
              </div>
  
              <div class="form-group">
                <label for="email"> Email <sup class="text-danger">*</sup></label>
                <input 
                type="text"
                name="email"
                ngModel 
                id="email"
                class="form-control"
                #email = "ngModel"
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                 >
                 <span class="text-danger" *ngIf="email.touched && email.hasError('required')">
                  Email Is Mandatory !
                 </span>
                 <span class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                   Email pattern shoud be in the form of "xyz@gmail.com"
                 </span>
              </div>
            </div>

            <div class="form-group">
              <label for="contact"> Contact <sup class="text-danger">*</sup></label>
              <input 
              type="text"
              name="contact"
              ngModel 
              id="contact"
              class="form-control"
              #contact = "ngModel"
              required
              pattern="^\d*$"
              minlength="10"
              maxlength="10"
               >
               <span class="text-danger" *ngIf="contact.touched && contact.hasError('required')">
                Contact is Mandatory !
               </span>
               <ng-container *ngIf="contact.dirty ">

                <span class="text-danger" *ngIf="contact.hasError('pattern')">
                  contact pattern is not correct !
                </span>
                <span class="text-danger" *ngIf="contact.hasError('minlength') && email.hasError('maxlength')">contact should contain 10 numbers !!</span>
               </ng-container>
               
            </div>


            <div class="form-group">
              <label for="password">password <sup class="text-danger">*</sup></label>
              <input type="password" class="form-control"
              #password="ngModel"
              ngModel
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              name="password"
              >
              <span class="text-danger" *ngIf="password.touched && password.hasError('required')">
                Password Is Mandatory !
              </span>
              <span class="text-danger" *ngIf="password.dirty && password.hasError('pattern')">
                <!-- Password pattern is not correct !! -->

                password should include special charector, number, alphabates and numbers
              </span>

            </div>
            <div class="form-group">
              <label for="secretQuestion">Secret Question</label>
              <select name="secretQuestion"
               id="secretQuestion"
               required
               ngModel
               class="form-control">
              <option value="favouriteBook">Favourite Book</option>
              <option value="petName">Pet Name</option>
              <option value="favouriteMovie">Favourite Movie</option>
              <option value="nickname">Nickname</option>

              </select>
            </div>

            <div class="form-group">
              <label for="ans">Answer</label>
              <input 
               type="text"
               name="ans" 
               id="ans"
               class="form-control"
               ngModel
               required>
            </div>

            <div class="form-group">
              <label for="isSubscribed">
                <input type="checkbox" 
                name="isSubscribed" 
                id="isSubscribed"
                ngModel
               >
                Is Subscribed?
              </label>
              <br>

              <div class="form-group">
                <label for="gender">male
                </label>
              <input type="radio" ngModel value="male" name="userGender" id="male" >
              </div>
              <div class="form-group">
                <label for="gender">female
                </label>
              <input type="radio" ngModel value="female" name="userGender" id="female" >
              </div>
              
            </div>

            <div class="form-group" *ngFor="let mode of contactModeArr">
              <label [for]="mode.moc">
                {{mode.moc}}
                </label>
              <input [value]="mode.moc" type="radio" name="modeOfContacrt" ngModel [id]="mode.moc" >
            </div>

            <button
             [disabled]="signUpForm.invalid"
             type="submit"
             class="btn btn-outline-primary btn-sm btn-block">Sign Up
            </button>
            <button
            (click)="onEditUser()"
             type="button"
             class="btn btn-outline-warning btn-sm btn-block">Edit user
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>